[Unit]
Description=Avia Tg Bot
After=network.target
After=syslog.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/opt/tgbot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
